priority -50

extends texmath

snippet si "siunitx: \SI{}{}"
\SI{$1}{$2}
endsnippet

snippet ang "siunitx: \ang{}"
\ang{$1}
endsnippet

snippet standalone "standalone file skeleton"
\documentclass{standalone}
\usepackage{tikz}
\usepackage{pgfplots}

\begin{document}
$1
\end{document}
endsnippet
